@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Labrada&family=Oswald:wght@300&family=Zen+Maru+Gothic&display=swap');
h1, h2 {
    font-family: "Labrada", Helvetica, sans-serif;
}
p {
    max-width: 70%;
    font-family: "Arvo", Helvetica, sans-serif;
    text-align: center;
    margin: 0 auto;
}
header {
    background-color:#231f20;
    display: grid;
    grid-template-columns: 150px auto;
}
.logo {
    width: 120px;
    border-radius: 1em;
    border: 5px solid #17A398;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    
}
#main-grid {
    margin: 0 auto;
    text-align: center;
}

h3{
    font-size: 10em;
    border: 5px solid #17A398;
    width: 50%;
    margin: 0 auto;
}
.slideshow-container{ 
    position: relative;
    width: 50%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .1s ease;
    background-color: #231f20;
  }
  
  .slideshow-container:hover .overlay {
    opacity: 1;
    width: 50%;
    margin: 0 auto;
  }

  .ka:hover {
    opacity: 1;
    width: 50%;
    margin: 0 auto;
    color: chartreuse;
  }
  
  .text {
    color: white;
    font-size: 10em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }




* {box-sizing: border-box}
.mySlides1, .mySlides2, .mySlides3, .mySlides4, .mySlides5, .mySlides6, .mySlides7, .mySlides8, .mySlides9, .mySlides10 {
    display: none
}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}