/* * {
    border: 1px solid red
}
*/

h1, a{
    color: steelblue;
}

#emphasis{
    color: steelblue
}

#active{
    background-color: red;
    color: white;
}



.potato{
    color: red

}
img {
    width: 20%;
    margin:0 auto;
    text-align: center;
    display: block;
}

div {
    text-align: center;
    margin:0 auto;
}

body p {
    text-align: center;
    margin: 0 auto;
    text-decoration: double;
}
nav a:hover {
    color: darkblue
}
nav a:nth-of-type(4) {
    color: blueviolet;
}